.menu {
	padding: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;

	&-nav {
		a {
			color: $dark-grayish-blue;
		}
	}

	&-cart {
		position: relative;

		svg {
			fill: $dark-grayish-blue;
		}
	}

	&-cart.open {
		svg {
			fill: $black;
		}
	}

	&-user-info {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.cart-container {
		position: absolute;
		top: 73px;
		right: 0;
		padding: 10px;
		z-index: 50;
		width: 100%;
		display: none;
		max-width: 400px;
	}

	.cart-container.active {
		display: block;
	}

	.cart-details-container {
		padding: 1.5rem;
	}

	.cart-details {
		background-color: $white;
		width: 100%;
		border-radius: 8px;

		h2 {
			padding: 1.5rem;
			border-bottom: 1px solid $grayish-blue;
			font-size: 1rem;
		}

		.details {
			display: flex;
			align-items: center;
			gap: 1rem;
			margin-bottom: 1rem;

			.cart-thumb {
				width: 50px;
				border-radius: 4px;
				overflow: hidden;
			}

			h3 {
				font-size: 0.9rem;
				color: $dark-grayish-blue;
				font-weight: 400;
				margin-bottom: 0.5rem;
			}

			.price {
				color: $dark-grayish-blue;
				font-size: 0.9rem;

				.product-total {
					color: $very-dark-blue;
					font-weight: 700;
				}
			}

			span {
				display: inline-block;
			}

			.delete-icon {
				margin-left: auto;
			}
		}

		.cart-empty {
			display: none;
		}
	}

	.cart-details.empty {
		.cart-details-container {
			display: none;
		}

		.cart-empty {
			display: flex;
			height: 158px;
			align-items: center;
			justify-content: center;

			h3 {
				font-size: 1rem;
				color: $dark-grayish-blue;
			}
		}
	}

	.cart-itens {
		position: absolute;
		top: -10px;
		left: 8px;
		background-color: $orange;
		color: $white;
		font-size: 0.65rem;
		width: 22px;
		height: 15px;
		border-radius: 20px;
		align-items: center;
		justify-content: center;
		display: none;
	}

	.cart-itens.active {
		display: flex;
	}

	&-avatar {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 899px) {
	.menu {
		&-icon {
			z-index: 150;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 1rem;
			padding: 0.5rem;
		}

		&-logo {
			margin-left: 2rem;
		}

		&-nav {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $black-opacity;
			display: none;
			width: 100%;
			height: 100vh;
			z-index: 100;

			ul {
				position: absolute;
				background-color: $white;
				width: 70vw;
				height: 100vh;
				padding: 5rem 1.5rem;
			}

			li {
				margin-bottom: 1rem;
			}

			a {
				font-weight: 700;
			}
		}

		&-nav.active {
			display: block;
		}
	}
}

@media (min-width: 900px) {
	.menu {
		max-width: 71rem;
		margin: 0 auto;
		padding: 1.75rem 1rem;
		gap: 4rem;
		border-bottom: solid 1px $grayish-blue;

		&-icon {
			display: none;
			visibility: hidden;
		}

		&-nav {
			ul {
				display: flex;
				gap: 1.5rem;
			}

			a {
				position: relative;
				&:hover {
					color: $black;
					cursor: pointer;
					&:after {
						background-color: $orange;
					}
				}

				&:after {
					content: "";
					display: inline-block;
					background-color: transparent;
					width: 100%;
					height: 4px;
					position: absolute;
					top: 3.75rem;
					left: 0;
				}
			}
		}

		&-user-info {
			gap: 2rem;
		}

		&-avatar {
			width: 52px;
			height: 52px;
			border: solid 2px transparent;

			&:hover {
				border-radius: 50%;
				border: solid 2px $orange;
				cursor: pointer;
			}
		}

		&-cart {
			svg {
				&:hover {
					cursor: pointer;
					fill: $black;
				}
			}
		}

		.cart-container {
			top: 84px;
			right: -80px;
		}

		.cart-details {
			box-shadow: 0 2px 20px -4px rgba(0, 0, 0, 0.4);
		}

		.delete-icon {
			cursor: pointer;
		}
	}
}
