@mixin slide-size() {
	@media (max-width: 899px) {
		height: 100%;
		width: 100%;
	}

	@media (min-width: 900px) {
		height: 480px;
		width: 480px;
	}
}

.product {
	&-slider {
		@include slide-size;
		position: relative;
		overflow: hidden;

		.slider-container {
			@include slide-size;
		}

		.slides {
			display: flex;
			position: relative;
			top: 0;
		}

		.slide {
			@include slide-size;
		}

		.slides.shifting {
			transition: left 0.2s ease;
		}

		button {
			background-color: $white;
			border: none;
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			img {
				margin-bottom: 0;
			}
		}

		.next-btn {
			right: 1rem;
		}

		.prev-btn {
			left: 1rem;
		}
	}

	&-thumbs {
		display: none;
		visibility: hidden;
	}

	&-info {
		padding: 1.5rem;
	}

	&-company {
		color: $orange;
		text-transform: uppercase;
		font-size: 0.75rem;
		letter-spacing: 2px;
	}

	&-name {
		color: $very-dark-blue;
		margin: 1.5rem 0;
	}

	&-description {
		font-size: 0.85rem;
		color: $dark-grayish-blue;
		line-height: 1.5;
	}

	&-price {
		margin: 1.5rem 0;
		display: flex;
		align-items: center;
		gap: 1rem;

		h3 {
			font-size: 1.5rem;
			color: $very-dark-blue;
		}

		span {
			padding: 0.25rem;
			display: inline-block;
			color: $orange;
			background-color: $pale-orange;
			font-weight: 700;
			border-radius: 4px;
			font-size: 0.85rem;
		}

		p {
			margin-left: auto;
			color: $dark-grayish-blue;
			position: relative;
			font-weight: 700;

			&::before {
				content: "";
				display: block;
				background-color: $dark-grayish-blue;
				width: 100%;
				height: 1px;
				position: absolute;
				bottom: 7px;
			}
		}
	}

	&-add-to-cart {
		background-color: $light-grayish-blue;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		height: 2.75rem;
		border-radius: 8px;
		margin-bottom: 1rem;
		overflow: hidden;

		span {
			display: grid;
			place-items: center;
			color: $very-dark-blue;
			font-weight: 700;
		}

		button {
			border: none;
			display: grid;
			place-items: center;
			background-color: $light-grayish-blue;

			&:hover {
				cursor: pointer;
				svg {
					fill: $light-orange;
				}
			}

			svg {
				fill: $orange;
			}
		}
	}
}

@media (min-width: 900px) {
	.product {
		max-width: 71rem;
		margin: 0 auto;
		padding: 6rem 1rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 4rem;

		&-image {
			max-width: 30rem;
		}

		&-slider {
			margin-bottom: 1rem;
			border-radius: 16px;

			button {
				display: none;
			}
		}

		&-thumbs {
			img {
				border-radius: 16px;

				&:hover {
					filter: opacity(50%);
					cursor: pointer;
				}
			}

			img[data-active="true"] {
				filter: opacity(50%);
			}
		}

		&-thumbs {
			visibility: visible;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 1rem;
		}

		&-name {
			font-size: 2.5rem;
		}

		&-description {
			font-size: 1rem;
		}

		&-price {
			display: block;
			position: relative;

			h3 {
				margin-bottom: 0.5rem;
			}

			span {
				position: absolute;
				top: 3px;
				left: 100px;
			}

			p {
				display: inline-block;
				font-size: 0.85rem;
			}
		}

		&-buy {
			display: grid;
			grid-template-columns: repeat(2, auto);
			gap: 1rem;
		}
	}
}
